alarm: any_5xx_last_1m
on: web_log_nginx_access.responses_by_status_code_class
lookup: sum -1m unaligned of 5xx
units: responses
every: 10s
warn: $this > 0
delay: up 0 down 2m
summary: Nginx: detected 5xx in last minute
info: Triggers on any 5xx seen in nginx access logs in the last 1 minute.