@import './custom/fonts.scss';

//@import "bootstrap/scss/bootstrap";

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import './custom/shared-variables';

:root {
  --bs-border-radius: 0.15rem;
}

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import './custom/custom_variables.scss';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
//@import "bootstrap/scss/carousel";
//@import './custom/carousel.scss';


//@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";

@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";



@import './custom/custom.scss';
@import './custom/sections.scss';
@import './custom/custom_menu.scss';
@import './custom/custom_facet.scss';
@import './custom/facetcolor.scss';
@import './custom/forms.scss';
//@import './custom/vue3_carousel.scss';
@import './custom/embla.scss';
@import './custom/single-product.scss';

@import './custom/mixins.scss';