# Application
web/app/plugins/*
!!web/app/plugins/js_composer
!!web/app/plugins/js_composer
!web/app/plugins/sitepress-multilingual-cms
!web/app/plugins/woocommerce-multilingual
!web/app/plugins/woodmart-core
!web/app/plugins/wpml-cms-nav
!web/app/plugins/wpml-string-translation
web/app/mu-plugins/*/
!web/app/themes/twentytwentyfive/
!web/app/themes/woodmart
!web/app/themes/woodmart-child
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
!web/app/plugins/sitepress-multilingual-cms/vendor
!web/app/plugins/woodmart-core/vendor
!web/app/plugins/sitepress-multilingual-cms/addons/wpml-page-builders/vendor
!web/app/plugins/wpml-cms-nav/vendor
!web/app/plugins/wpml-string-translation/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# data
*.sql
