.monk_featured {
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(248, 244, 245, 1) 40%, rgba(248, 244, 245, 1) 100%)
}

.slogan_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  min-height: 76vh;
  flex-direction: column;
}

.slogan {
    display: flex;
    padding: 4rem 0 2rem 0;
}

.slogan > div > svg {
  height: 9.486875rem;
}

.n > svg {
  margin: 0 0.916175rem;
}

.w > svg {
  margin: 0 0.616175rem;
}





.slogan_wrapper > .arrivals {
  width: 16.83125rem;
    position: relative;
    top: -9rem;
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
  position: relative;
  top: -5rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide img {
  width: 50%;
  height: auto;
  transition: width 0.3s ease;
}

.embla__slide.is-snapped img {
  width: 60%;
}

.monkbutton_eboy.monkbl2wh {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    background: #000;
}
@media only screen and (max-width: 600px) {

        .slogan_wrapper > .arrivals {
            width: 11.83125rem;
            position: relative;
            top: -6.7rem;
        }
        .slogan > div > svg {
        height: 6.486875rem;
        }

        .n > svg {
        margin: 0 0.916175rem;
        }

        .w > svg {
        margin: 0 0.616175rem;
        }

        .embla__slide img {
  width: 50%;
  height: auto;
  transition: width 0.3s ease;
}

.embla__slide.is-snapped img {
  width: 100%;
}
}
.embla__slide {
  transition: opacity 0.2s ease-in-out;
}
.embla__slide:not(.is-snapped) {
  opacity: 0.56;
}

.is-snapped {
  /* styles for actively snapped slides */
}

.is-in-view {
  /* styles for slides currently in the viewport */
}

.is-dragging {
  /* styles while dragging */
}

.is-loop {
  /* styles if loop enabled */
}

.is-draggable {
  /* styles if draggable */
}
