.slogan_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.slogan {
    display: flex;
    padding: 0rem 0 2rem 0;
}

.slogan > svg {
  height: 5rem;
}
