/* main menu - dropdown without mega menu */
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link, #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover {
    background: #EDE7E8;
}

.wd-hover-standard .add-to-cart-loop span {
    padding: 8px 14px !important;
}
a.monkbutton1, input.monkbutton1 {
    border-radius: 12px 0 15px 15px !important;
    padding: 8px 63px;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 400;
    cursor: pointer;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow .25s ease, opacity .25s ease;
}
button.single_add_to_cart_button.button.alt {
    background-color: #000000;
	color: #fff;
}
.menejo2col .vc_column-inner {
	justify-content: flex-start !important;
}
.mono-newsletter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
input.monojosimplebut, .mc4wp-form input[type="submit"] {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    box-shadow: none;
    color: #000;
}
.mc4wp-form input[type='email'], .mc4wp-form input[type='date'], .mc4wp-form input[type='search'], .mc4wp-form input[type='number'], .mc4wp-form input[type='text'], .mc4wp-form input[type='tel'], .mc4wp-form input[type='url'], .mc4wp-form input[type='password'], .mc4wp-form select, .mc4wp-form textarea {
    text-align: center;
}
.mc4wp-form input[type="submit"]:hover {
    color: #000;
    box-shadow: var(--btn-accent-box-shadow-hover);
    background-color: transparent;
}
.mc4wp-form-basic input:before, .mc4wp-form-basic label:before {
    content: "\f0da";
    font-family: 'Font Awesome 5 Free';
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    font-size: 13px;
    width: 10px;
    height: 10px;
    display: inline-block;
    color: #000;
    line-height: 18px;
}
.jo-pros a.mega-menu-link {
    color: #a4676f !important;
	font-weight: bold !important;
}
.button.btn-cart.wc-forward {
	display:none;
}
.cart-widget-side {
    background-color: #ede7e9 !important;
}
li.mega-toggle-on + ul.mega-sub-menu {
	position: fixed;
    left: 50%!important;
    right: auto!important;
    text-align: center!important;
    transform: translate(-50%, 0)!important;
}
span.jo-qty {
	display: table;
    width: auto;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    height: 40px;
    opacity: 1;
    visibility: visible;
    background: transparent;
    vertical-align: middle;
    padding: 0 10px 0 0;
    letter-spacing: 4px;
}
.woocommerce-mini-cart__buttons.buttons .button {
	display: block;
	max-width:197px;
    border-radius: 10px 0 16px 12px !important;
    padding: 7px 20px;
    font-size: 13px;
    line-height: 18px;
    position: relative;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 400;
	font-size: 14px;
    cursor: pointer;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow .25s ease, opacity .25s ease;
	background-color: #000000;
    margin-top: 10px;
}
.woocommerce-mini-cart__buttons.buttons .button.checkout.wc-forward {
	background-color: #000;
	color: #fff;
}
.woocommerce-mini-cart__buttons.buttons .button.close-side-widget.wd-action-btn {
	background-color: #fff;
	color: #000;
}
body.page-template-default.page .main-page-wrapper {
	margin-top:0 !important;
	
}
/* mini side-cart */
.wd-side-hidden {
	width:544px;
}
.cart_list.product_list_widget.woocommerce-mini-cart li.woocommerce-mini-cart-item.mini_cart_item a.cart-item-image img {
    min-width: 106px;
}
span.monkminicartinfo {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    color: #454545;
}
.woocommerce-mini-cart__total {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 5px !important;
    border-top: none !important;
	padding-left: 0px !important;
	border-bottom: 1px solid #898989;
}
.woocommerce-mini-cart__buttons.buttons {
	padding-left: 0px !important;
}
/* contact form page */
.monkmap {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
  }

/* filters */
#wd-640e1c873ee32 {
    margin-left: 20px;
	margin-bottom: 0;
}
.monkfiltershowmore {
    width: 132px;
    height: 35px;
    background-color: #EDE7E8 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal !important;
    color: #000 !important;
	padding: 8px 4px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
}
.monkfiltershowmore:after {
	content: url(/wp-content/uploads/2023/03/contact-down-arrow.svg);
	width:7.5px !important;
	height:8.5px;
	display:inline-block;
	text-align:right;
}
.monkallfilters .wd-pf-checkboxes .wd-pf-title:after {
    right: 10px;
	content: url(/wp-content/uploads/2023/03/contact-down-arrow.svg) !important;
    width: 7.5px !important;
    height: 8.5px;
    display: inline-block;
    text-align: right;
}
.wd-wishlist-icon > a:before {
    content: "" !important;
	display:none !important;
}
.wd-wishlist-icon > a:after {
	position: relative;
    opacity: 1 !important;
    content: url(/wp-content/uploads/2023/02/mobmenu-right.svg) !important;
    display: inline-block;
    border-left-color: transparent;
    border-radius: 0 !important;
    width: 9px !important;
    height: 18px !important;
    margin-left: 10px;
    text-align: right;
    border: none;
    top: 2px;
}
.product.type-product .wd-single-wishlist-btn .wd-wishlist-btn a {
	font-weight:normal !important;
}
.monkhideall {
	display:none !important;
}
.wpcf7 form:not(.sent) .wpcf7-response-output, .mc4wp-error, .mc4wp-notice, .woocommerce-error, .woocommerce-info {
    background-color: var(--notices-warning-bg);
    color: #000 !important;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.wd-side-hidden {
		width: 400px !important;
	}
	.woocommerce-mini-cart__buttons.buttons .button {
		display: inline-block;
	}
	.button.btn-cart.wc-forward {
		display:none;
	}
}

@font-face {
    font-family: 'PF Bague Sans Pro Bold';
    src: url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Bold-1.eot');
    src: url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Bold-1.eot?#iefix') format('embedded-opentype'),
        url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Bold-1.woff2') format('woff2'),
        url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Bold-1.woff') format('woff'),
        url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Bold.svg#PFBagueSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PF Bague Sans Pro Light';
    src: url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Light-1.eot');
    src: url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Light-1.eot?#iefix') format('embedded-opentype'),
        url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Light-1.woff2') format('woff2'),
        url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Light-1.woff') format('woff'),
        url('https://monk.gr/wp-content/uploads/2025/03/PFBagueSansPro-Light.svg#PFBagueSansPro-Light') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}