location = https://eboy.gr/wp-json/wc/v3/products?featured=true&consumer_key=ck_5d8a95b30ef429cb8ef4c33c7a69e46a1e2ef3ae&consumer_secret=cs_45e0c75bcf6d54396fc3d896e180aa90300495af {
  add_header "Access-Control-Allow-Origin" "*" always;
}

