// Shared variables for use in both app.scss and Vue components

$grid-columns:  12;
$grid-gutter-width: 10px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1460px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
) !default;

$font-size-root:             16px;
$font-size-base:             1rem;
$font-family-base:          'PFBagueSansPro';

$white: #fff;
$primary: #0E0C0A;
$secondary: #fff200;
$third: #F5F5F5;
$fourth: #939598;

$enable-shadows:              true !default;

$display-font-sizes: (
  1: 5rem,
  2: 3.5rem,
  3: 2.5rem,
  4: 1.5rem,
  5: 1rem,
  6: .75rem
) !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.05 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-line-height:        1 !default;
