.test {
    border: 1px solid red;
}

body {
    background-color: #fff;
   // @extend .bg-light;
   letter-spacing: .018rem;
}
.app {
    @include make-container();
    @extend .p-0;
    & a {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
        text-decoration: none;
      }
    
    & header {
        &.head01 {
            & .top {
                @include make-container();
    
                @extend .px-3;
                @extend .py-5;
                @extend .border-bottom;
    
                & .wrapper {
                    @include make-row();
                    @extend .align-items-center;
                    @extend .justify-content-between;
                   // @extend .justify-content-lg-start;
    
                   & nav {
                    @include make-col-ready();
    
                    @include media-breakpoint-up(sm) {
                        @include make-col(4);
                    }
                    @include media-breakpoint-up(lg) {
                        @include make-col(4);
                    }
    
                    &.nav-help {
                        & ul {
                            float: right;
                        }
                    }
                   }
    

                }
            }

    
        }

        &.head02 {
            & .top {    
                @include make-container();
    
                @extend .px-1;
            //      @extend .pt-3;
               // @extend .border-bottom;
                background: white;
    
                & .top_wrapper {
                    @include make-row();
                    @extend .align-items-start;
                    @extend .justify-content-between;
                   
                   & nav {
                        @include make-col-ready();

                        @include make-col(1);
        
                        @include media-breakpoint-up(md) {
                            @include make-col(1);
                        }
                        @include media-breakpoint-up(lg) {
                            @include make-col(1);
                        }

                        @extend .pt-3;
        
                    &.nav-help {
                        & ul {
                            float: right;
                        }
                    }
                   }
                    
                   & .logosearch {
                    @include make-col-ready();

                    @include make-col(10);

                    @include media-breakpoint-up(md) {
                        @include make-col(10);
                    }

                    @include media-breakpoint-up(lg) {
                        @include make-col(10);
                    }

                    @extend .p-0;

                    
                    & .searchrow {
                        @include make-container();
                        max-width: 1440px;

                     & .searchwrap {
                        @include make-row();

                            justify-content: center;

                            @include media-breakpoint-up(sm) {
                               justify-content: left;
                            }

                            @include media-breakpoint-up(lg) {
                            // justify-content: left;
                            }
                        & .custom-logo-link {
                                    
                    
                            @include make-col-ready();
                            @include make-col(6);
                            @include media-breakpoint-up(sm) {
                                @include make-col(3);
                            }

                            @include media-breakpoint-up(lg) {
                                @include make-col(2);
                            }
                               //     @extend .text-start;
                                    @extend .py-2;

                            & .custom-logo {
                                @extend .img-fluid;
                            }
                            }

                        & .searchbar {
                            @include make-col-ready();

                            @include make-col(12);

                            @extend .d-flex;
                            @extend .flex-column;
                            @extend .justify-content-center;
                            @extend .align-items-start;
                            padding: 0 0 .5rem 0;

                            @include media-breakpoint-up(lg) {
                                @include make-col(9);
                                padding: .5rem 0rem .5rem 3rem;
                            }

                                & .shop-search-input {
                                    @extend .form-control-lg;
                                    @extend .w-100;
                                    border-width: 1px;
                                }
                         

                            & .selections { 
                               @extend .d-flex;
                                @extend .align-items-start;
                              // @extend .ps-3;
                                @extend .pt-2;
                          
    
                                & ul {
                                    @extend .list-inline;
                                    @extend .m-0;
    
                                    & li {
                                        @extend .list-inline-item;
                                        @extend .mx-2;
    
                                        &:not(:last-child) {
                                         // @extend .m-2;
    
                                        }
                                        & span {
                                            &.facetwp-selection-label {
                                                display: none;                                           
                                            }
                                            &.facetwp-selection-value {
                                                border-bottom: .125rem solid $secondary;                                            
                                            }
                                        }
                                    }
                                }
                            }

                            & .facetwp-selections {
                                & ul {
                                    @extend .list-inline;
                                    @extend .m-0;

                                    & li {
                                        @extend .list-inline-item;
                                    }
                                }
                            }
                        }

                     }
                                
                    }

                    & .selections_row {
                        @include make-row;

                    }
                   }

                   & .search_mobile {
                            @include make-col-ready();

                            @include media-breakpoint-up(sm) {
                                @include make-col(12);
                            }
                            @include media-breakpoint-up(lg) {
                                @include make-col(12);
                            }

                            @extend .p-1;
                            @extend .d-block;
                            @extend .d-sm-none;

                            & input {
                                @extend .form-control;
                            }
                   }
                   
                }
            }

            
    
        }
    }
    & main {
        &.main {
            @include make-container();
           // max-width: 1440px;
           @extend .p-0;


            & .control_catalogue {
                @include make-container();

                @extend .justify-content-center;
                @extend .py-1;
                @extend .border-bottom;

                & .woocommerce-ordering {
                    @include make-col-ready();

                    @include media-breakpoint-up(sm) {
                        @include make-col(6);
                    }
                    @include media-breakpoint-up(lg) {
                        @include make-col(6);
                    }

                    @extend .text-end;
                    @extend .p-0;

                    & .orderby {
                        @extend .form-select;
                        @extend .w-25;
                        float: right;
                    }
                }
            }

            & .products {
                @include make-row();

                justify-content: center !important;

                @include media-breakpoint-up(sm) {
                    justify-content: flex-start !important;
                }
             //   @extend .row-cols-1;
             //   @extend .row-cols-md-5;
                  @extend .p-0;
                //  background: $thirdcolor;
               // @extend .card-group;

                & .product {
                   @extend .d-flex; 
                   @extend .flex-column;
                   @extend .px-1;
                   @extend .pt-5;
                   @extend .align-items-end;

                   @include make-col-ready();

                    &.view_normal {
                    @include make-col(6);
                    @include media-breakpoint-up(lg) {
                        @include make-col(3);
                    }
                    }

                    &.view_small {
                    @include make-col(12);
                    @include media-breakpoint-up(lg) {
                        @include make-col(6);
                    }
                    }

                    &.view_large {
                    @include make-col(4);
                    @include media-breakpoint-up(lg) {
                        @include make-col(2);
                    }
                    }


                    & .color {
                        @extend .d-flex;
                        position: absolute;
                        /* top: 0rem; */
                        padding: 1rem;

                        & span {
                            @extend .p-2;
                            @extend .mx-1;
                            border-radius: 50%;
                            &.blue {

                            }
                        }
                    }

                    & .onsale {
                        position: absolute;
                       // font-size: .8rem;
                       // background: $secondary;
                        @extend .m-2;
                        @extend .p-1;

                        @extend .rounded-pill;
                        @extend .text-bg-secondary;
                    }

                    & a {
                        background: $third;
                        border-radius: 5%;
                        @extend .p-2;
                        & img {
                            @extend .img-fluid;
                        }
                    }
                    
                        
                    & .product-info {
                        @extend .d-flex;
                        @extend .align-items-end;
                        @extend .justify-content-between;
                        @extend .border-bottom;


                        & .price {
                            @extend .d-flex;
                            @extend .flex-column;
                            
                    

                            & ins {
                                @extend .d-flex;
                                @extend .align-items-end;

                                text-decoration: none;
                              
                                & .woocommerce-Price-amount {
                                    @extend .d-flex;
                                    @extend .align-items-end;

                                      & bdi {
                                         @extend .d-flex;
                                         @extend .align-items-end;
                                         color: $primary;
                                         font-size: 2.32rem;
                                         letter-spacing: .002rem;
                                     }
                                }
     
                            }
                        }
                    }  
                    
                    & .card-footer {
                     //   @extend .mt-auto;
                        @extend .d-flex;
                        @extend .flex-column;
                        @extend .pt-3;
                        @extend .w-100;

                        & .info {
                            @extend .d-flex;
                            @extend .justify-content-between;
                            @extend .px-2;

                            & h3 {
                                display: inline;
                            }  
                            
                            & .price {
                                @extend .d-flex;
                                @extend .flex-column;
                                

                                & del {
                                    color: $primary;

                                     & .woocommerce-Price-amount {
                                        @extend .d-flex;
                                        @extend .flex-column;


                                                                        
                                        & bdi {
                                             @extend .d-flex;
                                             @extend .justify-content-end;
                                             color: $primary;
                                             font-size: .8rem;
                                         }
                                     }
                                }

                                & ins {
                                    @extend .d-flex;
                                    @extend .align-items-end;

                                    text-decoration: none;
                                  
                                    & .woocommerce-Price-amount {
                                        @extend .d-flex;
                                        @extend .align-items-end;

                                          & bdi {
                                             @extend .d-flex;
                                             @extend .align-items-end;
                                             color: $primary;
                                             font-size: 1.2rem;
                                             letter-spacing: .002rem;
                                         }
                                    }
         
                                }
                            }
                        }

                    }
                }
    
            }
        }
    }
}