section {
   @include make-container();

    &.featured {
            padding: 4rem 0 0rem 0;
            background:
                linear-gradient(0deg, rgb(255 255 255 / 1) 0%, rgb(255 255 255 / 1) 100%) 0% 99.13% / 100% 40% no-repeat no-repeat, /* New Background */
                linear-gradient(0deg, rgb(255 230 0 / 1) 0%, rgb(255 230 0 / 1) 100%) 0% 0% / 99.8% 78.4% repeat no-repeat; /* New Background */          
            
            @include media-breakpoint-up(xl) {
                padding: 8rem 0 0rem 0;
            } 

            & .featured_wrapper {
                @include make-container();
                margin-top: 6rem;
                
                @include media-breakpoint-up(lg) {
                    margin-top: 3rem;
                } 
                
                @include media-breakpoint-up(xl) {
                    margin-top: 1rem;
                } 
                
                    & .slogan_1 {
                    @include make-col-ready();

                    @include media-breakpoint-up(sm) {
                        @include make-col(12);
                    }
                    @include media-breakpoint-up(lg) {
                        @include make-col(12);
                    }

                    @extend .d-flex;
                  //  @extend .flex-column;
                    @extend .justify-content-start;
                    @extend .align-items-end;
                    @extend .test;
                    }
                  
                    & .slogan {
                        @include make-col-ready();
                        @include make-col(12);

                        @extend .p-0;
                        @extend .d-flex;
                        @extend .flex-column;
                        @extend .justify-content-between;
                        align-items: center;

                        @include media-breakpoint-up(md) {
                            align-items: start;
                          }


                        & h2 {

                          }
                        & .buttons {
                            @extend .d-none;
                            @extend .d-lg-block;

                        }

                    }

                    & .featured_slider {
                    @include make-col-ready();

                    @include make-col(12);
                    

                  //  @extend .p-0;
                    position: relative;
                    top: -5.4rem;

                    @include media-breakpoint-up(lg) {
                      top: -6rem;
                    }

                     @include media-breakpoint-up(xxl) {
                      top: -9rem;
                    }
                    }
              }
          
          & .carousel_wrap {
            @include make-col-ready();

            @include media-breakpoint-up(sm) {
                @include make-col(12);
            }
            @include media-breakpoint-up(lg) {
                @include make-col(12);
            }

            & .carousel {
                & .carousel-inner {
                    @include make-container;
                    max-width: 1440px;
    
                    & .carousel-item {
                        
                        & .featured_image {
                           @extend .text-center;
                            & img {
                                height: 300px;
                            }
                        }
                        & .carousel-caption {
                            
                            @extend .d-flex;
                            @extend .flex-column;
                            @extend .justify-content-center;
                            @extend .align-items-center;
                            @extend .h-100;
    
                            position: absolute;
                            left: 0;
                            top: 0;
                            color: $primary;
                            & h2 {
//                                font-family: 'PFEncoreSansPro-Bold';
                                font-size: 1.5rem;
                            }
    
                            & p {
                                font-family: 'PFEncoreSansPro-Light';
                                letter-spacing: 0.015rem;
                            }
                        }
                        
    
                        & img {
                            @extend .img-fluid;
                         //   @extend .w-50;
                        }
                    }
                }
            }
          }

                    & .buttons {
                    @extend .d-flex;
                    @extend .d-block;
                    @extend .d-lg-none;                   
                    @include media-breakpoint-down(lg) {
                        justify-content: center;
                    }

                    & .btn {
                        @extend .mx-2;
                    }
                }
    }
    &.marketing {
        max-width: 1440px;
        @extend .py-5;

        & .newsletter {
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(12);
                }
                @include media-breakpoint-up(md) {
                    @include make-col(6);
                }

                @extend .text-center;

                    & .gform_wrapper {
                        @extend .w-75;
                        @extend .mx-auto;

                        & label {
                            display: none;
                        }
                    }
        }

    }
    &.main_cats {
                @include make-container();
               // max-width: 1400px;
               background: $third;

                & nav {
                    @include make-row();

                    & .navbar-collapse {
                        @extend .w-100;

                        & div {
                            @extend .w-100;

                            & ul {
                                @extend .w-100;
                                @extend .justify-content-between;

                                & li {
                                    @extend .p-5;
                                }
                            }
                        }
                    }
                }

                & .cat_menu_wrapper {
                    @include make-container();
                    max-width: 1440px;
                    background: $white;
                    @extend .d-flex;
                     @extend .overflow-x-auto;
                     @extend .px-0;

                    & .sale {
                        @extend .d-flex;
                        margin-right: 0.1rem;
                        background: $third;
                    }

                    & .facetwp-facet {
                       @extend .d-flex;
                        @extend .px-0;
                        @extend .py-0;
                        @extend .justify-content-between;
                        @extend .flex-nowrap;
                        background: $white;
                       
                        @extend .flex-grow-1;

                        &.facetwp-facet-product_categories {
                            
                            & .facetwp-counter {
                                @extend .ms-auto;
                                @extend .d-flex;
                                @extend .justify-content-end;
                              //  @extend .w-100;
                                //@extend .pe-3;
                                @extend .mt-2;
                                @extend .me-4;
                                background: $secondary;
                                font-size: .8rem;
                                border-radius: 50%;
                            }
                        }
                        & .facetwp-radio {
                            @extend .px-3;
                            //@extend .mx-1;
                            margin-left: 0.1rem;
                            margin-right: 0.1rem;
                            @extend .d-flex;
                            @extend .flex-column;
                            @extend .align-items-center;
                            @extend .justify-content-center;
                            @extend .flex-fill;
                           // @extend .text-center;
                            background: $third;
                            //border-radius:  9999px;

                          //  width: 66px;

                            @include media-breakpoint-up(lg) {
                              //  width: 16%;
                            }

                            &.disabled {
                                opacity: .5;
                            }


                                & .facetwp-display-value {
                                    color: black;
                                    font-family: 'PFBagueSansPro-Light';
                                    letter-spacing: .02rem;
                                    @extend .d-flex;
                                    @extend .flex-column;
                                    @extend .justify-content-center;

                                    & .cat_image {
                                          //margin: 1rem 0 0 0;
                                          @extend .text-center;
                                    }

                                     & .cat_name {
                                        padding: 1.25rem 0 1.25rem 0;
                                        @extend .text-center;
                                    }

                                }

                            &.checked {
                              //  background: #000;
                              //  border: 2px solid $secondary;

                                @include media-breakpoint-up(lg) {
                                    background: $white;
                                }

                                & .cat_image {
                                 //   background: $white;
                                    border-radius: 999px;
                                    background: white;
                                }

                                & .cat_name {
                                 //   color: $white;
                                }
                            }

                            & img {
                                width: 60px;
                                @extend .pb-2;
                            }

                            & h2 {
                                font-size: 1.1rem;    
                                @extend .m-0;              
                            }

                            & .facetwp-counter {
                              //  display: none;
                            }
                        }
                    }
                }
            }

    &.shop_controls {
        max-width: 1440px;
    }
    &.shop {
        max-width: 1440px;

        & .views {
            @include make-row();
            & .left {
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(6);
                }
                & button {
                all: unset;
                display: inline-block;
                cursor: pointer;
                outline: revert;
                }
                & :nth-child(1) {
                //@extend .test;
                width: 27px;
                height: 13px;
                background: url("../images/view_small.svg") no-repeat center center;

                    &.selected {
                        background: url("../images/view_small_s.svg") no-repeat center center;
                    }
                }

                & :nth-child(2) {
                //@extend .test;
                width: 56px;
                height: 13px;
                background: url("../images/view_normal.svg") no-repeat center center;
                     &.selected {
                        background: url("../images/view_normal_s.svg") no-repeat center center;
                    }
                }

                & :nth-child(3) {
                //@extend .test;
                width: 86px;
                height: 13px;
                background: url("../images/view_large.svg") no-repeat center center;

                    &.selected {
                        background: url("../images/view_large_s.svg") no-repeat center center;
                    }
                }
            }

            & .right {
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(6);
                }
                @extend .d-flex;
                @extend .justify-content-end;
            }
            & .facetwp-facet {
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(6);
                }
                @extend .text-end;

                & select {
                    @extend .form-select;
                    @extend .w-auto;
                    @extend .ms-auto;
                }
            }
        }
    }

    &.related {
        @extend .py-5;
    }
}