# Created by trellis-cli v1.17.0
# Documentation: https://roots.io/trellis/docs/wordpress-sites/

wordpress_sites:
  simple-city.gr:
    site_hosts:
      - canonical: monk.gr
        redirects:
          - www.monk.gr
          
    local_path: ../site
    branch: local-new-setup
    repo: git@github.com:Giannisduke/eboy.gr.git
    repo_subtree_path: site
    wp_cli_path: web/wp
    multisite:
      enabled: true
      subdomains: true
    ssl:
      enabled: true
      provider: letsencrypt
    cache:
      enabled: false
    env:
      WP_ENV: production
      MULTISITE: true
      SUBDOMAIN_INSTALL: true
      DOMAIN_CURRENT_SITE: simple-city.gr
      PATH_CURRENT_SITE: /
      SITE_ID_CURRENT_SITE: 1
      BLOG_ID_CURRENT_SITE: 1