# Created by trellis-cli v1.17.0
# Documentation: https://roots.io/trellis/docs/wordpress-sites/

wordpress_sites:
  simple-city.gr:
    site_hosts:
      - canonical: simple-city.gr
        redirects:
          - www.simple-city.gr

    local_path: ../site
    repo: git@github.com:Giannisduke/eboy.gr.git
    branch: local-new-setup
    repo_subtree_path: site

    multisite:
      enabled: true
      subdomains: true

    # προσωρινά self-signed
    ssl:
      enabled: true
      provider: self-signed

    sites:
      monk:
        site_hosts:
          - canonical: monk.simple-city.gr
            redirects: []
          - canonical: monk.gr
            redirects:
              - www.monk.gr
    env:
      WP_ENV: production
      MULTISITE: true
      SUBDOMAIN_INSTALL: true
      DOMAIN_CURRENT_SITE: simple-city.gr
      PATH_CURRENT_SITE: /
      SITE_ID_CURRENT_SITE: 1
      BLOG_ID_CURRENT_SITE: 1