wordpress_sites:
  simple-city.gr:
    site_hosts:
      - canonical: simple-city.gr
        redirects:
          - www.simple-city.gr

    local_path: ../site
    repo: git@github.com:Giannisduke/eboy.gr.git
    branch: local-new-setup
    repo_subtree_path: site

    multisite:
      enabled: true
      subdomains: true

    ssl:
      enabled: true
      provider: self-signed

    sites:
      monk:
        site_hosts:
          - canonical: monk.simple-city.gr
          - canonical: monk.gr
            redirects:
              - www.monk.gr

    env:
      WP_ENV: production

      db_name: simple_city_production
      db_user: simple_city
      db_password: "{{ vault_mysql_simple_city_password }}"
      db_host: localhost

      MULTISITE: true
      SUBDOMAIN_INSTALL: true
      DOMAIN_CURRENT_SITE: simple-city.gr
      PATH_CURRENT_SITE: /
      SITE_ID_CURRENT_SITE: 1
      BLOG_ID_CURRENT_SITE: 1