# Documentation: https://roots.io/trellis/docs/wordpress-sites/

wordpress_sites:
  eboy.gr:
    site_hosts:
      - canonical: eboy.gr
        redirects:
          - www.eboy.gr

    local_path: ../site
    repo: git@github.com:Giannisduke/eboy.gr.git
    branch: main
    repo_subtree_path: site

    multisite:
      enabled: true
      subdomains: true

    ssl:
      enabled: false
      provider: letsencrypt

    env:
      wp_env: staging
      wp_home: https://eboy.gr
      wp_siteurl: https://eboy.gr/wp
