# Created by trellis-cli v1.17.0
# Documentation: https://roots.io/trellis/docs/wordpress-sites/

wordpress_sites:
  eboy.gr:
    site_hosts:
    - canonical: eboy.gr
      redirects:
      - www.eboy.gr
    local_path: ../site
    branch: local-new-setup
    repo: git@github.com:Giannisduke/eboy.gr.git
    repo_subtree_path: site
    multisite:
      enabled: true
      subdomains: true
    ssl:
      enabled: false
      provider: letsencrypt
    cache:
      enabled: false
    env:
      domain_current_site: eboy.gr