 .main_menu_rapper {
                        @include make-col-ready();
                        @include make-col(12);

                        & .nav-main {
                            @extend .mx-auto;

                            & .nav {
                                @extend .justify-content-center;
                            }
                        }
                     }

.monk_featured {
    height: 100vh;

    & .featured_wrapper {
        @include make-row;
        @extend .justify-content-center;

        & .monk_slider {
            @extend .d-flex;
            @extend .flex-column;
            @extend .p-3;
            @extend .w-100;
           // @extend .h-100;
           
           
            & .slogan_wrapper {
                @extend .d-flex;
                @extend .flex-row;
                @extend .flex-wrap;
                @extend .justify-content-center;

                & .slogan {
                    @extend .d-flex;
                    @extend .flex-row;
                  //  @extend .ps-5;

                    & svg {
                        width: 3.4rem;
                        height: auto;
                    }

                    & #logo_1_h {

                    }
                 }

            }

            & .watermellon {
                @extend .d-flex;
                @extend .flex-row;
                @extend .flex-wrap;
                @extend .justify-content-center;
                width: 20rem;
            }
        }
    }
}